.header {
	margin-top: 122px;
	margin-bottom: auto;
}
.container {
	margin-bottom: 150px;
}
.row {
	text-align: center;
	color: #333333;
	padding-top: 25px;
	/*display: inline-block;*/
}
.row2 {
	text-align: center;
	color: #333333;
	padding-top: 38px;
}
.row3 {
	text-align: center;
	color: #333333;
	padding-top: 32px;
}

